<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add category</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body class="bg-success p-2 text-dark bg-opacity-10">
<div class="container" style="margin:30px">
	<h2>Add category <small class="text-muted">| name</small></h2>
	<div style="clear: both; display: block; height: 30px;"></div>
	<div class="mb-3" style="width:400px">
		<form th:object="${category}" th:action="@{/savecategory}" action="#" method="post">
			<label for="name" class="form-label">New category</label>
			<input type="text" id="name" th:field="*{name}" class="form-control" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"/>
			<a href="/categorylist" class="btn btn-secondary">Cancel</a>
		</form>
		</div>
</div>
</body>
</html>
