<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Categories</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body class="bg-secondary p-2 text-dark bg-opacity-10">
<div class="container" style="margin:20px">
	<h2>Categories <small class="text-muted">| Information</small></h2>
	<div class="row">
		<p class="lead col-4">Edit, delete or add new category.</p>
		<div class="col-8">
			<a href="/newcategory" class="btn btn-success">Add category</a>
			<a href="/" class="btn btn-secondary">Return to Products</a>
		</div>
	</div>
	<div style="width:665px">
		<table class="table table-hover table align-middle">
			<tr class="table-success">
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="category : ${categories}">
				<td th:text="${category.name}"></td>
				<td><a th:href="@{/edit/category/{id}/(id=${category.categoryId})}" class="btn btn-outline-success btn-sm">Edit</a></td>
				<td><a th:href="@{/delete/category/{id}/(id=${category.categoryId})}" class="btn btn-outline-danger btn-sm">Delete</a>
			</tr>
		</table>
	</div>
</div>
</body>
</html>
