<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Edit category</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="bg-success p-2 text-dark bg-opacity-10">
 	<!-- NAVBAR -->
 	<div th:replace="fragments/header :: header"></div>
	<div class="container" style="margin:30px">
		<h2>Edit category<small class="text-muted"> | name</small></h2>
		<div style="clear: both; display: block; height: 30px;"></div>
		<div class="mb-3" style="width:400px">
			<!-- form to add edit category, checks if input has errors -->
			<form th:object="${category}" th:action="@{/updatecategory}" action="#" method="post">
				<input type="hidden" id="id" th:field="*{categoryId}"/>
				<div>
					<label for="name" class="form-label">Category name</label>
					<input type="text" id="name" th:field="*{name}" class="form-control"/>
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Error</p><br/>
				</div>
				<!-- BUTTONS -->
				<input type="submit" value="Save changes" class="btn btn-success" />
				<a href="/categorylist" class="btn btn-secondary">Cancel</a>
			</form>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
