<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Products</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="bg-success p-2 text-dark bg-opacity-10">
<!-- NAVBAR -->
	<div th:replace="/navbar :: header"></div>
	<div class="container" style="margin:30px">
		<h2>Golf Products
			<small class="text-muted"> | Online store for pre-owned golf equipment | Welcome [[${#httpServletRequest.remoteUser}]]</small><br>
		</h2>
		<div class="row">
			<p class="lead col">This is a home of used golf equipments. If you want to sell or buy, please sign up.</p>
			</div>
		</div>
		<table class="table table-striped">
			<tr class="table-success table-bordered border-dark">
				<th style="width:15%">Name</th>
				<th style="width:25%">Description</th>
				<th>Brand</th>
				<th>Price</th>
				<th>Category</th>
				<th>Gender</th>
				<th>Published</th>
				<th sec:authorize="isAuthenticated()">More</th>
				<th sec:authorize="isAuthenticated()"></th>
				<th sec:authorize="isAnonymous()"></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
			<tr th:each="product : ${products}" class="table-bordered border-dark">
				<td th:text="${product.name}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.brand.name}"></td>
				<td th:text="${product.price} +€"></td>
				<td th:text="${product.category.name}"></td>
				<td th:text="${product.gender.genderName}"></td>
				<td th:text="${#dates.format(product.publicationDate, 'dd.MM.yyyy')}"></td>
				<td sec:authorize="isAuthenticated()">
					<a th:href="@{/product/{id}(id=${product.productId})}" class="btn btn-outline-info btn-sm">Info</a>
				</td>	
				<!-- user can edit his/hers own products, admin can edit all products -->
				<td th:if="${#authorization.expression('hasAuthority(''ADMIN'')')} or ${#authentication.name} == ${product.seller.username}">
					<a th:href="@{/edit/product/{id}/{user}(id=${product.productId}, user=${product.seller.username})}" class="btn btn-outline-success btn-sm" >Edit</a></td>
				<td th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')} or ${#authentication.name} == ${product.seller.username}"><a></a>
				<!-- admin can delete -->
				<td sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{/delete/product/{id}(id=${product.productId})}" class="btn btn-outline-danger btn-sm">Delete</a></td>
			</tr>	
		</table>
</body>
</html>
