<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>My account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="bg-success p-2 text-dark bg-opacity-10">
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="/productlist">Products</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	<li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link active" href="/newproduct">Add product</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/myaccount/{user}(user=${#authentication.name})}">My account</a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Brands&Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/brandlist">Brands</a></li>
            <li><a class="dropdown-item" href="/categorylist">Categories</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Log in</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
            </li>
        </ul>
        </div>
    </div>
  </div>
</nav>
<div class="container" style="margin:20px">
	<h2>My <small class="text-muted">| account</small></h2>
	<!-- USER INFO -->
	<div style="margin-top:40px">
		<h5><b>First name</b></h5>
		<p th:text="${user.firstName}"></p>
		<h5><b>Last name</b></h5>
		<p th:text="${user.lastName}"></p>
		<h5><b>Email</b></h5>
		<p th:text="${user.email}"></p>
		<h5><b>Phone</b></h5>
		<p th:text="${user.phoneNumber}"></p>
		<h5><b>Username</b></h5>
		<p th:text="${user.username}"></p>
	</div>
	<hr class="solid">
	<!-- SELLINGS -->
	<h2>My <small class="text-muted">| sellings</small></h2>
	<div style="clear: both; display: block; height: 20px;"></div>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Brand</th>
			<th>Price</th>
			<th>Category</th>
			<th>Gender</th>
			<th>Published</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="selling : ${user.sellings}">
			<td th:text="${selling.name}"></td>
			<td th:text="${selling.description}"></td>
			<td th:text="${selling.brand.name}"></td>
			<td th:text="${selling.price} +€"></td>
			<td th:text="${selling.category.name}"></td>
			<td th:text="${selling.gender.genderName}"></td>
			<td th:text="${#dates.format(selling.publicationDate, 'dd.MM.yyyy')}"></td>
			<td><a th:href="@{/edit/product/{id}/{user}(id=${selling.productId}, user=${#authentication.getPrincipal().getUsername()})}" class="btn btn-outline-success btn-sm" >Edit</a></td>	
		</tr>
	</table>
</div>
</body>
</html>